<a href="https://colab.research.google.com/github/asg017/cdo-weather/blob/master/weather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pudding.cool Weather Explore

## Build API

In [0]:
!pip install arcgis2geojson

from google.colab import files
import json
import requests
from arcgis2geojson import arcgis2geojson
from time import sleep
import pandas as pd

Collecting arcgis2geojson
  Downloading https://files.pythonhosted.org/packages/11/b6/de1ad83d3bc7165bb1558d942050e4267de0bb8c12af3a089b54cc89c2bd/arcgis2geojson-1.4.0.tar.gz
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from arcgis2geojson) (1.11.0)
Building wheels for collected packages: arcgis2geojson
  Running setup.py bdist_wheel for arcgis2geojson ... - done
  Stored in directory: /root/.cache/pip/wheels/9f/20/ac/f92942895a80c06f734b0b68843ee630601bd89656cad885a0
Successfully built arcgis2geojson
Installing collected packages: arcgis2geojson
Successfully installed arcgis2geojson-1.4.0

In [0]:
print("Please upload a secrets.json with \"token\" inside ")
uploaded = files.upload()
if uploaded['secrets.json'] is None:
  raise Exception("please upload a file with the name secrets.json!")
cdo_token = json.loads(uploaded['secrets.json'].decode('utf-8')).get('token')

Please upload a secrets.json with "token" inside

Saving secrets.json to secrets.json

In [0]:
class CDOApi():
  
  host = 'www.ncdc.noaa.gov'
  base_path = '/cdo-web/api/v2'
  protocol = 'https'
  full_path = '{0}://{1}{2}'.format(protocol, host, base_path)
  
  def __init__(self, token, *args, **kwargs):
    self.token = token
  
  def request(self, path, params={}, method='GET'):
    r = requests.get(path, headers={"token":self.token}, params=params)
    return r.json()
  
  def build_path(self, endpoint):
    return '{0}/{1}'.format(self.full_path, endpoint)
  
  def _get_next(self, res, params={"limit":25}):
    res_len = len(res.get('results'))
    resultset = res.get('metadata').get('resultset')
    if resultset.get('offset') + res_len <= resultset.get('count'):
      return {
          "offset": resultset.get('offset') + res_len, 
          "limit":params.get('limit')
      }
    
    return None
  
  def locations(self, params={}):
    res = self.request(self.build_path('locations'), params)
    _next = self._get_next(res, params)
    return res, _next
  
  def datasets(self, params={}):
    res = self.request(self.build_path('datasets'), params)
    _next = self._get_next(res, params)
    return res, _next
  
  def stations(self, params={}):
    res = self.request(self.build_path('stations'), params)
    _next = self._get_next(res, params)
    return res, _next
  
  def location(self, id, params={}):
    res = self.request(self.build_path('locations/{}'.format(id)), params)
    return res
  
  def station(self, id, params={}):
    res = self.request(self.build_path('stations/{}'.format(id)), params)
    return res

In [0]:
class GISCDOApi():
  
  host = 'gis.ncdc.noaa.gov'
  base_path = '/arcgis/rest/services/geo/references/MapServer/16'
  protocol = 'https'
  full_path = '{0}://{1}{2}'.format(protocol, host, base_path)
  
  
  def request(self, path, params={}, method='GET'):
    r = requests.get(path, params=params)
    return r.json()
  
  def build_path(self, endpoint):
    return '{0}/{1}'.format(self.full_path, endpoint)
  
  def _get_next(self, res, params={"limit":25}):
    res_len = len(res.get('results'))
    resultset = res.get('metadata').get('resultset')
    if resultset.get('offset') + res_len <= resultset.get('count'):
      return {
          "offset": resultset.get('offset') + res_len, 
          "limit":params.get('limit')
      }
    
    return None
  
  # query? f=json & where=CITY_FIPS='US000001'"
  def query(self, params={"f":"json"}):
    res = self.request(self.build_path('query'), params)
    return res
  
  def city(self, id, params={"f":"json"}):
    params.update({"where":"CITY_FIPS='{}'".format(id)})
    return self.query(params=params)

In [0]:
api = CDOApi(cdo_token)

# Getting all stations for a given city
api.stations(params={"locationid":"CITY:US020001", "limit":1000})

({'metadata': {'resultset': {'count': 98, 'limit': 1000, 'offset': 1}},
  'results': [{'datacoverage': 0.9261,
    'elevation': 67.1,
    'elevationUnit': 'METERS',
    'id': 'COOP:500172',
    'latitude': 61.18889,
    'longitude': -149.80556,
    'maxdate': '2004-10-01',
    'mindate': '1993-07-01',
    'name': 'ALASKA PACIFIC UNIVERSITY, AK US'},
   {'datacoverage': 0.8624,
    'elevation': 35.7,
    'elevationUnit': 'METERS',
    'id': 'COOP:500272',
    'latitude': 61.17472,
    'longitude': -149.905,
    'maxdate': '2009-10-01',
    'mindate': '2005-08-01',
    'name': 'ANCHORAGE ARCTIC AND INTERNATIONAL, AK US'},
   {'datacoverage': 0.9956,
    'elevation': 39.9,
    'elevationUnit': 'METERS',
    'id': 'COOP:500275',
    'latitude': 61.1561,
    'longitude': -149.9847,
    'maxdate': '2015-11-01',
    'mindate': '1998-02-01',
    'name': 'ANCHORAGE FORECAST OFFICE, AK US'},
   {'datacoverage': 1,
    'elevation': 25.9,
    'elevationUnit': 'METERS',
    'id': 'COOP:500276',
    'latitude': 61.21667,
    'longitude': -149.86667,
    'maxdate': '1973-06-01',
    'mindate': '1964-01-01',
    'name': 'ANCHORAGE PARK STRIP, AK US'},
   {'datacoverage': 0.9997,
    'elevation': 27.4,
    'elevationUnit': 'METERS',
    'id': 'COOP:500277',
    'latitude': 61.17806,
    'longitude': -149.96639,
    'maxdate': '2011-04-01',
    'mindate': '2001-12-01',
    'name': 'ANCHORAGE LAKE HOOD SEA PLANE BASE, AK US'},
   {'datacoverage': 0.016,
    'elevation': 408.4,
    'elevationUnit': 'METERS',
    'id': 'COOP:500278',
    'latitude': 61.07306,
    'longitude': -149.72472,
    'maxdate': '1978-12-31',
    'mindate': '1976-01-01',
    'name': 'ANCHORAGE RABBIT CRK, AK US'},
   {'datacoverage': 0.8594,
    'elevation': 304.8,
    'elevationUnit': 'METERS',
    'id': 'COOP:500279',
    'latitude': 61.11667,
    'longitude': -149.73333,
    'maxdate': '1997-08-01',
    'mindate': '1993-07-01',
    'name': 'ANCHORAGE HILLSIDE, AK US'},
   {'datacoverage': 0.9974,
    'elevation': 36.6,
    'elevationUnit': 'METERS',
    'id': 'COOP:500280',
    'latitude': 61.169,
    'longitude': -150.0278,
    'maxdate': '2015-11-01',
    'mindate': '1952-04-01',
    'name': 'ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, AK US'},
   {'datacoverage': 0.9918,
    'elevation': 406.9,
    'elevationUnit': 'METERS',
    'id': 'COOP:500281',
    'latitude': 61.1025,
    'longitude': -149.7169,
    'maxdate': '2015-11-01',
    'mindate': '2005-12-01',
    'name': 'ANCHORAGE UPPER DEARMOUN, AK US'},
   {'datacoverage': 0.9925,
    'elevation': 61.3,
    'elevationUnit': 'METERS',
    'id': 'COOP:500282',
    'latitude': 61.16056,
    'longitude': -149.80722,
    'maxdate': '2008-10-01',
    'mindate': '2008-08-01',
    'name': 'ANCHORAGE 5 SE, AK US'},
   {'datacoverage': 0.9241,
    'elevation': 278.3,
    'elevationUnit': 'METERS',
    'id': 'COOP:500284',
    'latitude': 61.0882,
    'longitude': -149.7561,
    'maxdate': '2010-11-01',
    'mindate': '2006-07-01',
    'name': 'ANCHORAGE RABBIT CREEK NUMBER 2, AK US'},
   {'datacoverage': 0.8799,
    'elevation': 42.1,
    'elevationUnit': 'METERS',
    'id': 'COOP:500285',
    'latitude': 61.21694,
    'longitude': -149.855,
    'maxdate': '1953-10-01',
    'mindate': '1949-09-01',
    'name': 'ANCHORAGE MERRILL FIELD, AK US'},
   {'datacoverage': 0.8531,
    'elevation': 25,
    'elevationUnit': 'METERS',
    'id': 'COOP:500286',
    'latitude': 61.19389,
    'longitude': -149.88583,
    'maxdate': '2009-03-01',
    'mindate': '2000-10-01',
    'name': 'ANCHORAGE MIDTOWN, AK US'},
   {'datacoverage': 0.9898,
    'elevation': 10.7,
    'elevationUnit': 'METERS',
    'id': 'COOP:500287',
    'latitude': 61.20444,
    'longitude': -149.91056,
    'maxdate': '2004-10-01',
    'mindate': '2004-07-01',
    'name': 'ANCHORAGE CHESTER CREEK, AK US'},
   {'datacoverage': 0.9447,
    'elevation': 54.9,
    'elevationUnit': 'METERS',
    'id': 'COOP:500288',
    'latitude': 61.2,
    'longitude': -149.78333,
    'maxdate': '1962-12-01',
    'mindate': '1957-01-01',
    'name': 'ANCHORAGE 4 ESE, AK US'},
   {'datacoverage': 0.0094,
    'elevation': 274.3,
    'elevationUnit': 'METERS',
    'id': 'COOP:500290',
    'latitude': 61.16278,
    'longitude': -149.70417,
    'maxdate': '1979-01-01',
    'mindate': '1976-01-01',
    'name': 'ANCHORAGE TUXEDNI PARK, AK US'},
   {'datacoverage': 0.9996,
    'elevation': 49.1,
    'elevationUnit': 'METERS',
    'id': 'COOP:500594',
    'latitude': 61.11667,
    'longitude': -149.85,
    'maxdate': '1972-08-01',
    'mindate': '1971-01-01',
    'name': 'BEACON PARK, AK US'},
   {'datacoverage': 1,
    'elevation': 256,
    'elevationUnit': 'METERS',
    'id': 'COOP:500824',
    'latitude': 61.11667,
    'longitude': -149.75,
    'maxdate': '1972-06-01',
    'mindate': '1965-10-01',
    'name': 'ROCK RIDGE DRIVE, AK US'},
   {'datacoverage': 0.9876,
    'elevation': 78.6,
    'elevationUnit': 'METERS',
    'id': 'COOP:501220',
    'latitude': 61.1638,
    'longitude': -149.7777,
    'maxdate': '2013-12-01',
    'mindate': '2000-05-01',
    'name': 'CAMPBELL CREEK SCIENCE CR, AK US'},
   {'datacoverage': 0.5374,
    'elevation': 78.9,
    'elevationUnit': 'METERS',
    'id': 'COOP:502235',
    'latitude': 61.21667,
    'longitude': -149.73333,
    'maxdate': '1968-05-01',
    'mindate': '1962-11-01',
    'name': 'CREEKSIDE PARK SCHOOL, AK US'},
   {'datacoverage': 0.999,
    'elevation': 228.9,
    'elevationUnit': 'METERS',
    'id': 'COOP:502638',
    'latitude': 61.31667,
    'longitude': -149.5,
    'maxdate': '1972-01-01',
    'mindate': '1970-11-01',
    'name': 'EAGLE RIVER, AK US'},
   {'datacoverage': 0.9679,
    'elevation': 172.8,
    'elevationUnit': 'METERS',
    'id': 'COOP:502645',
    'latitude': 61.3193,
    'longitude': -149.5435,
    'maxdate': '2015-11-01',
    'mindate': '2003-01-01',
    'name': 'EAGLE RIVER GAKONA CIRCLE, AK US'},
   {'datacoverage': 0.9159,
    'elevation': 64.6,
    'elevationUnit': 'METERS',
    'id': 'COOP:502820',
    'latitude': 61.25306,
    'longitude': -149.79361,
    'maxdate': '1997-09-01',
    'mindate': '1941-04-01',
    'name': 'ANCHORAGE ELMENDORF AFB, AK US'},
   {'datacoverage': 0.9543,
    'elevation': 143.3,
    'elevationUnit': 'METERS',
    'id': 'COOP:503163',
    'latitude': 61.2272,
    'longitude': -149.6504,
    'maxdate': '2015-11-01',
    'mindate': '1990-05-01',
    'name': 'FORT RICHARDSON W.T.P., AK US'},
   {'datacoverage': 0.9042,
    'elevation': 671.2,
    'elevationUnit': 'METERS',
    'id': 'COOP:503299',
    'latitude': 61.1,
    'longitude': -149.6936,
    'maxdate': '2015-11-01',
    'mindate': '1971-07-01',
    'name': 'GLEN ALPS, AK US'},
   {'datacoverage': 0.7364,
    'elevation': 31.1,
    'elevationUnit': 'METERS',
    'id': 'COOP:503390',
    'latitude': 61.4,
    'longitude': -149.85,
    'maxdate': '1976-12-01',
    'mindate': '1967-07-01',
    'name': 'GOOSE BAY NIKE SITE, AK US'},
   {'datacoverage': 0.5837,
    'elevation': 46,
    'elevationUnit': 'METERS',
    'id': 'COOP:504453',
    'latitude': 61.18333,
    'longitude': -149.81667,
    'maxdate': '1973-02-01',
    'mindate': '1972-03-01',
    'name': 'KATMAI OIL AND GAS, AK US'},
   {'datacoverage': 0.9967,
    'elevation': 45.7,
    'elevationUnit': 'METERS',
    'id': 'COOP:504887',
    'latitude': 61.066667,
    'longitude': -149.9,
    'maxdate': '1949-01-01',
    'mindate': '1948-01-01',
    'name': 'KLATTS FARM'},
   {'datacoverage': 0.8032,
    'elevation': 120.1,
    'elevationUnit': 'METERS',
    'id': 'COOP:505896',
    'latitude': 61.25,
    'longitude': -149.66667,
    'maxdate': '1970-11-01',
    'mindate': '1965-01-01',
    'name': 'MOOSE RUN FORT RICHA, AK US'},
   {'datacoverage': 1,
    'elevation': 113.1,
    'elevationUnit': 'METERS',
    'id': 'COOP:506769',
    'latitude': 61.23333,
    'longitude': -149.71667,
    'maxdate': '1974-07-01',
    'mindate': '1967-11-01',
    'name': 'OIL WELL ROAD E P, AK US'},
   {'datacoverage': 0.2801,
    'elevation': 48.8,
    'elevationUnit': 'METERS',
    'id': 'COOP:507444',
    'latitude': 61.41694,
    'longitude': -150.08194,
    'maxdate': '2010-08-01',
    'mindate': '1980-12-01',
    'name': 'POINT MACKENZIE, AK US'},
   {'datacoverage': 0.9998,
    'elevation': 256,
    'elevationUnit': 'METERS',
    'id': 'COOP:508025',
    'latitude': 61.11667,
    'longitude': -149.75,
    'maxdate': '1980-10-01',
    'mindate': '1972-10-01',
    'name': 'ROCK RIDGE DRIVE, AK US'},
   {'datacoverage': 0.735,
    'elevation': 335.9,
    'elevationUnit': 'METERS',
    'id': 'COOP:508648',
    'latitude': 61.28333,
    'longitude': -149.46667,
    'maxdate': '1971-05-01',
    'mindate': '1964-07-01',
    'name': 'SOUTH FORK, AK US'},
   {'datacoverage': 0.0033,
    'elevation': 274.3,
    'elevationUnit': 'METERS',
    'id': 'COOP:508780',
    'latitude': 61.16278,
    'longitude': -149.70417,
    'maxdate': '1979-01-01',
    'mindate': '1976-01-01',
    'name': 'ANCHORAGE TUXEDNI PARK, AK US'},
   {'datacoverage': 0.5968,
    'elevation': 1214,
    'elevationUnit': 'METERS',
    'id': 'COOP:508815',
    'latitude': 61.25,
    'longitude': -149.55,
    'maxdate': '1971-12-01',
    'mindate': '1961-09-01',
    'name': 'SUMMIT NIKE SITE, AK US'},
   {'datacoverage': 0.838,
    'elevation': 70.1,
    'elevationUnit': 'METERS',
    'id': 'GHCND:US1AKAB0001',
    'latitude': 61.2047,
    'longitude': -149.7563,
    'maxdate': '2010-04-22',
    'mindate': '2007-04-01',
    'name': 'ANCHORAGE 4.8 E, AK US'},
   {'datacoverage': 0.9267,
    'elevation': 80.8,
    'elevationUnit': 'METERS',
    'id': 'GHCND:US1AKAB0003',
    'latitude': 61.1926,
    'longitude': -149.7542,
    'maxdate': '2008-05-16',
    'mindate': '2007-04-01',
    'name': 'ANCHORAGE 5.2 SE, AK US'},
   {'datacoverage': 0.6617,
    'id': 'GHCND:US1AKAB0004',
    'latitude': 61.1094,
    'longitude': -149.7701,
    'maxdate': '2008-07-11',
    'mindate': '2007-05-01',
    'name': 'ANCHORAGE 8.7 SSE, AK US'},
   {'datacoverage': 0.9965,
    'elevation': 12.5,
    'elevationUnit': 'METERS',
    'id': 'GHCND:US1AKAB0006',
    'latitude': 61.1934,
    'longitude': -149.9682,
    'maxdate': '2008-03-11',
    'mindate': '2007-05-01',
    'name': 'ANCHORAGE 2.8 SW, AK US'},
   {'datacoverage': 0.9992,
    'id': 'GHCND:US1AKAB0007',
    'latitude': 61.1,
    'longitude': -149.82,
    'maxdate': '2010-07-20',
    'mindate': '2007-05-01',
    'name': 'ANCHORAGE 8.6 SSE, AK US'},
   {'datacoverage': 0.9566,
    'id': 'GHCND:US1AKAB0009',
    'latitude': 61.1852,
    'longitude': -149.7205,
    'maxdate': '2011-02-20',
    'mindate': '2007-05-01',
    'name': 'ANCHORAGE 6.4 ESE, AK US'},
   {'datacoverage': 0.998,
    'elevation': 60,
    'elevationUnit': 'METERS',
    'id': 'GHCND:US1AKAB0014',
    'latitude': 61.1606,
    'longitude': -149.8067,
    'maxdate': '2008-10-31',
    'mindate': '2007-07-01',
    'name': 'ANCHORAGE 5.1 SE, AK US'},
   {'datacoverage': 0.9998,
    'elevation': 243.5,
    'elevationUnit': 'METERS',
    'id': 'GHCND:US1AKAB0021',
    'latitude': 61.3122,
    'longitude': -149.4958,
    'maxdate': '2018-12-17',
    'mindate': '2008-03-01',
    'name': 'EAGLE RIVER 2.6 ESE, AK US'},
   {'datacoverage': 0.9693,
    'elevation': 583.4,
    'elevationUnit': 'METERS',
    'id': 'GHCND:US1AKAB0023',
    'latitude': 61.2378,
    'longitude': -149.4543,
    'maxdate': '2011-02-12',
    'mindate': '2008-08-01',
    'name': 'EAGLE RIVER 7.0 SE, AK US'},
   {'datacoverage': 1,
    'elevation': 349.6,
    'elevationUnit': 'METERS',
    'id': 'GHCND:US1AKAB0027',
    'latitude': 61.1039,
    'longitude': -149.7296,
    'maxdate': '2009-06-18',
    'mindate': '2008-11-01',
    'name': 'ANCHORAGE 9.7 SE, AK US'},
   {'datacoverage': 0.9891,
    'elevation': 417.9,
    'elevationUnit': 'METERS',
    'id': 'GHCND:US1AKAB0028',
    'latitude': 61.0614,
    'longitude': -149.7524,
    'maxdate': '2016-12-01',
    'mindate': '2008-11-01',
    'name': 'ANCHORAGE 11.9 SSE, AK US'},
   {'datacoverage': 0.9792,
    'elevation': 40.8,
    'elevationUnit': 'METERS',
    'id': 'GHCND:US1AKAB0030',
    'latitude': 61.2059,
    'longitude': -149.8112,
    'maxdate': '2012-10-02',
    'mindate': '2008-11-01',
    'name': 'ANCHORAGE 3.1 ESE, AK US'},
   {'datacoverage': 1,
    'id': 'GHCND:US1AKAB0036',
    'latitude': 61.1925,
    'longitude': -149.76,
    'maxdate': '2012-05-02',
    'mindate': '2009-01-01',
    'name': 'ANCHORAGE 5.0 ESE, AK US'},
   {'datacoverage': 0.999,
    'elevation': 657.1,
    'elevationUnit': 'METERS',
    'id': 'GHCND:US1AKAB0038',
    'latitude': 61.2272,
    'longitude': -149.4401,
    'maxdate': '2018-04-28',
    'mindate': '2009-07-01',
    'name': 'EAGLE RIVER 7.8 SE, AK US'},
   {'datacoverage': 0.0854,
    'elevation': 68.3,
    'elevationUnit': 'METERS',
    'id': 'GHCND:US1AKAB0051',
    'latitude': 61.213,
    'longitude': -149.7649,
    'maxdate': '2018-12-19',
    'mindate': '2014-10-20',
    'name': 'ANCHORAGE 4.5 E, AK US'},
   {'datacoverage': 1,
    'elevation': 35.4,
    'elevationUnit': 'METERS',
    'id': 'GHCND:US1AKAB0052',
    'latitude': 61.1529,
    'longitude': -149.9346,
    'maxdate': '2018-12-18',
    'mindate': '2015-09-01',
    'name': 'ANCHORAGE 4.7 SSW, AK US'},
   {'datacoverage': 0.8764,
    'elevation': 67.1,
    'elevationUnit': 'METERS',
    'id': 'GHCND:US1AKAB0055',
    'latitude': 61.1113,
    'longitude': -149.846,
    'maxdate': '2018-12-19',
    'mindate': '2016-06-19',
    'name': 'ANCHORAGE 7.6 SSE, AK US'},
   {'datacoverage': 0.807,
    'elevation': 20.1,
    'elevationUnit': 'METERS',
    'id': 'GHCND:US1AKAB0058',
    'latitude': 61.1898,
    'longitude': -149.9492,
    'maxdate': '2018-12-19',
    'mindate': '2018-03-10',
    'name': 'ANCHORAGE 2.6 SW, AK US'},
   {'datacoverage': 0.9261,
    'elevation': 67.1,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00500172',
    'latitude': 61.18889,
    'longitude': -149.80556,
    'maxdate': '2004-10-31',
    'mindate': '1993-07-01',
    'name': 'ALASKA PACIFIC UNIVERSITY, AK US'},
   {'datacoverage': 0.8624,
    'elevation': 35.7,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00500272',
    'latitude': 61.17472,
    'longitude': -149.905,
    'maxdate': '2009-10-31',
    'mindate': '2005-08-01',
    'name': 'ANCHORAGE ARCTIC AND INTERNATIONAL, AK US'},
   {'datacoverage': 1,
    'elevation': 39.9,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00500275',
    'latitude': 61.1561,
    'longitude': -149.9847,
    'maxdate': '2018-12-18',
    'mindate': '1998-02-01',
    'name': 'ANCHORAGE FORECAST OFFICE, AK US'},
   {'datacoverage': 1,
    'elevation': 304.8,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00500279',
    'latitude': 61.11667,
    'longitude': -149.73333,
    'maxdate': '2014-05-01',
    'mindate': '1993-07-01',
    'name': 'ANCHORAGE HILLSIDE, AK US'},
   {'datacoverage': 1,
    'elevation': 406.9,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00500281',
    'latitude': 61.1025,
    'longitude': -149.7169,
    'maxdate': '2018-12-16',
    'mindate': '2005-12-01',
    'name': 'ANCHORAGE UPPER DEARMOUN, AK US'},
   {'datacoverage': 1,
    'elevation': 278.3,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00500284',
    'latitude': 61.0882,
    'longitude': -149.7561,
    'maxdate': '2018-12-17',
    'mindate': '2006-07-01',
    'name': 'ANCHORAGE RABBIT CREEK NUMBER 2, AK US'},
   {'datacoverage': 1,
    'elevation': 25,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00500286',
    'latitude': 61.19389,
    'longitude': -149.88583,
    'maxdate': '2009-03-31',
    'mindate': '2000-10-01',
    'name': 'ANCHORAGE MIDTOWN, AK US'},
   {'datacoverage': 1,
    'elevation': 10.7,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00500287',
    'latitude': 61.20444,
    'longitude': -149.91056,
    'maxdate': '2004-10-31',
    'mindate': '2004-07-01',
    'name': 'ANCHORAGE CHESTER CREEK, AK US'},
   {'datacoverage': 0.9847,
    'elevation': 54.9,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00500288',
    'latitude': 61.2,
    'longitude': -149.78333,
    'maxdate': '1962-10-31',
    'mindate': '1957-03-01',
    'name': 'ANCHORAGE 4 ESE, AK US'},
   {'datacoverage': 1,
    'elevation': 49.1,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00500594',
    'latitude': 61.11667,
    'longitude': -149.85,
    'maxdate': '1972-08-31',
    'mindate': '1971-01-01',
    'name': 'BEACON PARK, AK US'},
   {'datacoverage': 1,
    'elevation': 256,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00500824',
    'latitude': 61.11667,
    'longitude': -149.75,
    'maxdate': '1972-06-30',
    'mindate': '1965-10-01',
    'name': 'ROCK RIDGE DRIVE, AK US'},
   {'datacoverage': 1,
    'elevation': 78.6,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00501220',
    'latitude': 61.1638,
    'longitude': -149.7777,
    'maxdate': '2018-12-17',
    'mindate': '2000-05-01',
    'name': 'CAMPBELL CREEK SCIENCE CR, AK US'},
   {'datacoverage': 0.627,
    'elevation': 78.9,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00502235',
    'latitude': 61.21667,
    'longitude': -149.73333,
    'maxdate': '1968-05-31',
    'mindate': '1962-11-01',
    'name': 'CREEKSIDE PARK SCHOOL, AK US'},
   {'datacoverage': 0.999,
    'elevation': 228.9,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00502638',
    'latitude': 61.31667,
    'longitude': -149.5,
    'maxdate': '1972-01-31',
    'mindate': '1970-11-01',
    'name': 'EAGLE RIVER, AK US'},
   {'datacoverage': 1,
    'elevation': 172.8,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00502645',
    'latitude': 61.3193,
    'longitude': -149.5435,
    'maxdate': '2018-10-31',
    'mindate': '2003-01-01',
    'name': 'EAGLE RIVER GAKONA CIRCLE, AK US'},
   {'datacoverage': 1,
    'elevation': 143.3,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00503163',
    'latitude': 61.2272,
    'longitude': -149.6504,
    'maxdate': '2018-05-31',
    'mindate': '1990-05-01',
    'name': 'FORT RICHARDSON W.T.P., AK US'},
   {'datacoverage': 1,
    'elevation': 671.2,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00503299',
    'latitude': 61.1,
    'longitude': -149.6936,
    'maxdate': '2016-09-30',
    'mindate': '1971-01-01',
    'name': 'GLEN ALPS, AK US'},
   {'datacoverage': 1,
    'elevation': 31.1,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00503390',
    'latitude': 61.4,
    'longitude': -149.85,
    'maxdate': '1976-12-31',
    'mindate': '1967-07-01',
    'name': 'GOOSE BAY NIKE SITE, AK US'},
   {'datacoverage': 0.5003,
    'elevation': 46,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00504453',
    'latitude': 61.18333,
    'longitude': -149.81667,
    'maxdate': '1973-02-28',
    'mindate': '1972-03-01',
    'name': 'KATMAI OIL AND GAS, AK US'},
   {'datacoverage': 1,
    'elevation': 45.7,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00504887',
    'latitude': 61.066667,
    'longitude': -149.9,
    'maxdate': '1949-01-31',
    'mindate': '1947-11-01',
    'name': 'KLATTS FARM'},
   {'datacoverage': 0.9986,
    'elevation': 120.1,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00505896',
    'latitude': 61.25,
    'longitude': -149.66667,
    'maxdate': '1971-02-28',
    'mindate': '1965-01-01',
    'name': 'MOOSE RUN FORT RICHA, AK US'},
   {'datacoverage': 1,
    'elevation': 113.1,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00506769',
    'latitude': 61.23333,
    'longitude': -149.71667,
    'maxdate': '1974-07-31',
    'mindate': '1967-11-01',
    'name': 'OIL WELL ROAD E P, AK US'},
   {'datacoverage': 1,
    'elevation': 48.8,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00507444',
    'latitude': 61.41694,
    'longitude': -150.08194,
    'maxdate': '2015-08-01',
    'mindate': '1980-12-01',
    'name': 'POINT MACKENZIE, AK US'},
   {'datacoverage': 0.9998,
    'elevation': 256,
    'elevationUnit': 'METERS',
    'id': 'GHCND:USC00508025',
    'latitude': 61.11667,

In [0]:
# Fetch all possible locations, load in pandas dataframe (and focus on USA)

locations = []
params = {"locationcategoryid":"CITY", "limit":1000}

res, _next = api.locations(params)
locations.extend(res.get('results'))

while _next is not None:
  sleep(.25)
  params.update(_next)
  res, _next  = api.locations(params)
  locations.extend(res.get('results'))
  

df = pd.DataFrame(locations)

def extract_country(idx):
  colon_i = idx.find(':')
  return idx[colon_i+1:colon_i+3]

df['country'] = df['id'].apply(extract_country)
df['mindate'] = pd.to_datetime(df['mindate'], format='%Y-%m-%d', errors='raise')
df['maxdate'] = pd.to_datetime(df['maxdate'], format='%Y-%m-%d', errors='raise')
us_df = df[df['country'] == 'US']
us_df

,datacoverage,id,maxdate,mindate,name,country
1068,1.0,CITY:US000001,2018-12-20,1872-01-01,"Washington D.C., US",US
1069,1.0,CITY:US010001,2018-12-20,1895-11-01,"Alexander City, AL US",US
1070,1.0,CITY:US010002,2018-12-20,1903-02-01,"Anniston, AL US",US
1071,1.0,CITY:US010003,2018-12-20,1906-04-01,"Auburn, AL US",US
1072,1.0,CITY:US010004,2018-12-20,1900-10-01,"Birmingham, AL US",US
1073,1.0,CITY:US010005,2018-12-20,1907-08-01,"Cullman, AL US",US
1074,1.0,CITY:US010006,2018-12-20,1931-01-01,"Dothan, AL US",US
1075,1.0,CITY:US010007,2018-12-20,1902-05-01,"Enterprise, AL US",US
1076,1.0,CITY:US010008,2018-12-20,1892-06-01,"Eufaula, AL US",US
1077,1.0,CITY:US010009,2018-12-20,1893-01-01,"Florence, AL US",US
1078,1.0,CITY:US010010,2018-12-20,1893-01-01,"Fort Payne, AL US",US
1079,1.0,CITY:US010011,2018-12-20,1893-07-01,"Gadsden, AL US",US
1080,1.0,CITY:US010012,2018-12-20,1894-02-01,"Huntsville, AL US",US
1081,1.0,CITY:US010013,2018-12-20,1891-10-01,"Jasper, AL US",US
1082,1.0,CITY:US010014,2018-12-20,1931-01-01,"Mobile, AL US",US
1083,1.0,CITY:US010015,2018-12-20,1893-01-01,"Montgomery, AL US",US
1084,1.0,CITY:US010016,2018-12-20,1895-01-01,"Selma, AL US",US
1085,1.0,CITY:US010017,2018-12-20,1888-02-01,"Talladega, AL US",US
1086,1.0,CITY:US010018,2018-12-20,1908-06-01,"Troy, AL US",US
1087,1.0,CITY:US010019,2018-12-20,1900-01-01,"Tuscaloosa, AL US",US
1088,1.0,CITY:US020001,2018-12-20,1916-02-01,"Anchorage, AK US",US
1089,1.0,CITY:US020002,2018-12-20,1904-09-01,"Fairbanks, AK US",US
1090,1.0,CITY:US020003,2018-12-20,1915-11-01,"Juneau, AK US",US
1091,1.0,CITY:US020004,2018-12-20,1908-01-01,"Nome, AK US",US
1092,1.0,CITY:US020005,2018-12-20,1922-01-01,"Seward, AK US",US
1093,1.0,CITY:US040001,2018-12-20,1948-03-01,"Bullhead City, AZ US",US
1094,1.0,CITY:US040002,2018-12-20,1898-06-01,"Casa Grande, AZ US",US
1095,1.0,CITY:US040003,2018-12-20,1903-12-01,"Douglas, AZ US",US
1096,1.0,CITY:US040004,2018-12-20,1893-01-01,"Flagstaff, AZ US",US
1097,1.0,CITY:US040005,2018-12-20,1916-06-01,"Green Valley, AZ US",US
...,...,...,...,...,...,...
1883,1.0,CITY:US540001,2018-12-20,1893-12-01,"Beckley, WV US",US
1884,1.0,CITY:US540002,2018-12-20,1893-01-01,"Bluefield, WV US",US
1885,1.0,CITY:US540003,2018-12-20,1892-04-01,"Charleston, WV US",US
1886,1.0,CITY:US540004,2018-12-20,1873-01-01,"Fairmont, WV US",US
1887,1.0,CITY:US540005,2018-12-20,1887-07-01,"Huntington, WV US",US
1888,1.0,CITY:US540006,2018-12-20,1893-01-01,"Martinsburg, WV US",US
1889,1.0,CITY:US540007,2018-12-20,1873-01-01,"Morgantown, WV US",US
1890,1.0,CITY:US540008,2018-12-20,1894-01-01,"Parkersburg, WV US",US
1891,1.0,CITY:US540009,2018-12-20,1878-02-01,"Wheeling, WV US",US
1892,1.0,CITY:US550001,2018-12-20,1889-01-01,"Eau Claire, WI US",US
1893,1.0,CITY:US550002,2018-12-20,1886-09-01,"Green Bay, WI US",US
1894,1.0,CITY:US550003,2018-12-20,1893-01-01,"Janesville, WI US",US
1895,1.0,CITY:US550004,2018-12-20,1896-05-01,"Kenosha, WI US",US
1896,1.0,CITY:US550005,2018-12-20,1883-01-01,"La Crosse, WI US",US
1897,1.0,CITY:US550006,2018-12-20,1910-11-01,"Madison, WI US",US
1898,1.0,CITY:US550007,2018-12-20,1893-01-01,"Manitowoc, WI US",US
1899,1.0,CITY:US550008,2018-12-20,1899-05-01,"Marinette, WI US",US
1900,1.0,CITY:US550009,2018-12-20,1871-01-01,"Milwaukee, WI US",US
1901,1.0,CITY:US550010,2018-12-20,1893-01-01,"Oshkosh, WI US",US
1902,1.0,CITY:US550011,2018-12-20,1893-01-01,"Racine, WI US",US
1903,1.0,CITY:US550012,2018-12-20,1893-01-01,"River Falls, WI US",US
1904,1.0,CITY:US550013,2018-12-20,1899-09-01,"Sheboygan, WI US",US
1905,1.0,CITY:US550014,2018-12-20,1895-04-01,"Wausau, WI US",US
1906,1.0,CITY:US560001,2018-12-20,1900-11-01,"Casper, WY US",US
1907,1.0,CITY:US560002,2018-12-20,1905-05-01,"Cheyenne, WY US",US
1908,1.0,CITY:US560003,2018-12-20,1890-12-01,"Evanston, WY US",US
1909,1.0,CITY:US560004,2018-12-20,1902-03-01,"Gillette, WY US",US
1910,1.0,CITY:US560005,2018-12-20,1892-01-01,"Laramie, WY US",US
1911,1.0,CITY:US560006,2018-12-20,1897-04-01,"Rock Springs, WY US",US
1912,1.0,CITY:US560007,2018-12-20,1893-02-01,"Sheridan, WY US",US

In [0]:
a = GISCDOApi()
r = a.city('US000001')
print(r)
arcgis2geojson(r)

## small explore

In [0]:
!wget https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/2018.csv.gz
!gunzip 2018.csv.gz

--2018-12-17 05:44:37--  https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/2018.csv.gz
Resolving www1.ncdc.noaa.gov (www1.ncdc.noaa.gov)... 205.167.25.171, 205.167.25.172, 2610:20:8040:2::171, ...
Connecting to www1.ncdc.noaa.gov (www1.ncdc.noaa.gov)|205.167.25.171|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 178834282 (171M) [application/x-gzip]
Saving to: ‘2018.csv.gz’

2018.csv.gz         100%[===================>] 170.55M  35.4MB/s    in 7.2s

2018-12-17 05:44:44 (23.8 MB/s) - ‘2018.csv.gz’ saved [178834282/178834282]

gzip: 2018.csv already exists; do you wish to overwrite (y or n)? y
y

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('2018.csv', header=None)

In [0]:
df = df.rename(index=str, columns={0:"station", 1:"date", 2:"type", 3:"value"})
df = df.drop(columns=[4,5,6,7])

In [0]:
df = df[ (df['type'] == 'TMAX') | (df['type'] == 'TMIN') ]

In [0]:
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d', errors='raise')

In [0]:
df.groupby(['station', 'type']).describe()

                  value                                                       \
                  count        mean        std    min     25%    50%     75%
station     type
AE000041196 TMAX  213.0  360.539906  68.017995  220.0  305.00  381.0  419.00
            TMIN  178.0  228.000000  62.543454   98.0  175.75  239.5  280.75
AEM00041194 TMAX  196.0  357.994898  65.634067  220.0  311.75  375.0  413.25
            TMIN  159.0  260.918239  60.378235  136.0  212.50  273.0  313.00
AEM00041217 TMAX  163.0  362.153374  73.663531  212.0  304.50  371.0  422.00
            TMIN  159.0  245.213836  64.377680  103.0  195.00  260.0  301.00
AEM00041218 TMAX  171.0  375.713450  72.278097  220.0  317.50  397.0  436.50
            TMIN  141.0  239.007092  67.378621  106.0  194.00  250.0  295.00
AFM00040938 TMAX   11.0  229.000000  70.388920  130.0  188.00  200.0  274.00
            TMIN   94.0  119.712766  97.464261  -53.0   34.00  137.0  204.75
AFM00040948 TMAX   46.0  354.608696  33.026238  276.0  332.75  357.5  379.75
            TMIN   39.0  110.230769  54.150600  -26.0   99.00  116.0  153.00
AFM00040990 TMAX   51.0  274.058824  98.390530  152.0  196.50  240.0  395.50
            TMIN   97.0  140.628866  81.395936    0.0   72.00  128.0  213.00
AG000060390 TMAX   23.0  249.173913  68.598073  131.0  181.00  275.0  296.00
            TMIN  194.0  130.046392  59.857975   -3.0   77.25  130.0  177.75
AG000060590 TMAX   29.0  308.827586  80.513117  166.0  260.00  312.0  340.00
            TMIN  326.0  156.736196  87.128964  -20.0   83.25  160.0  231.50
AG000060611 TMAX   29.0  314.724138  69.538220  164.0  278.00  320.0  350.00
            TMIN  324.0  175.194444  83.503040    2.0  108.75  189.0  249.25
AGE00147708 TMAX   27.0  234.555556  72.686012  111.0  170.00  248.0  295.00
            TMIN  316.0  141.860759  55.590335   20.0   96.00  146.0  191.00
AGE00147716 TMAX   25.0  225.440000  45.919386  154.0  181.00  247.0  257.00
            TMIN  319.0  158.401254  50.714847   57.0  116.00  157.0  204.00
AGE00147718 TMAX   29.0  288.827586  82.461709  159.0  245.00  298.0  325.00
            TMIN  315.0  181.298413  79.248459   10.0  113.00  176.0  247.00
AGE00147719 TMAX  282.0  258.265957  91.050630   92.0  188.25  243.0  332.75
            TMIN  287.0  127.930314  82.292048  -37.0   59.00  118.0  196.50
AGM00060351 TMAX   25.0  240.440000  64.906394  106.0  210.00  255.0  287.00
            TMIN  301.0  143.431894  56.737344   31.0   95.00  145.0  191.00
...                 ...         ...        ...    ...     ...    ...     ...
WA007878380 TMAX  151.0  354.291391  27.764867  216.0  343.00  361.0  374.00
            TMIN  121.0  175.140496  26.447844  103.0  161.00  178.0  196.00
WA010101860 TMAX   95.0  309.736842  41.918414  198.0  282.00  316.0  344.50
            TMIN  217.0  118.682028  56.216639  -14.0   75.00  127.0  167.00
WA010517310 TMAX   62.0  350.290323  37.506890  255.0  332.50  365.0  378.75
            TMIN   46.0  179.608696  25.250283  126.0  164.00  181.0  199.50
WA012084750 TMAX  147.0  324.591837  47.887676  200.0  285.00  340.0  365.50
            TMIN  135.0  171.096296  53.302274   60.0  127.50  190.0  212.50
WAM00068006 TMAX  103.0  348.233010  48.663552  258.0  301.00  368.0  392.50
            TMIN  109.0  170.798165  56.228993   69.0  116.00  188.0  215.00
WAM00068098 TMAX  239.0  261.635983  40.758117  191.0  236.00  253.0  277.50
            TMIN  183.0  130.890710  35.068364   58.0  108.00  136.0  154.00
WF000917530 TMAX  312.0  302.980769  10.475493  254.0  297.75  305.0  310.00
            TMIN  331.0  248.767372  12.459278  199.0  242.00  249.0  257.00
WFM00091754 TMAX  160.0  297.800000  14.556677  250.0  288.00  298.5  305.25
            TMIN  140.0  245.992857  10.382260  215.0  241.00  247.0  253.00
WIM00060096 TMAX   21.0  227.523810  38.343994  163.0  198.00  240.0  245.00
            TMIN  194.0  178.577320  27.213162  102.0  160.25  174.0  204.00
WQW00041606 TMAX    2.0  316.000000   2.828427  314.0  315.00  316.0  317.00
            TMIN    2.0  255.500000   4.949747  252.0  253.75  255.5  257.25
WZ004455110 TMAX   70.0  258.928571  43.076717  170.0  232.00  257.5  284.75
            TMIN  166.0  146.897590  39.548916   50.0  119.25  150.0  180.00
ZA000067743 TMAX   11.0  332.181818  30.908957  291.0  312.00  325.0  360.00
            TMIN    8.0  178.625000  24.118384  131.0  170.00  180.0  196.75
ZI000067775 TMAX  134.0  255.925373  34.886417  145.0  236.25  260.5  277.75
            TMIN  165.0  115.224242  39.553507   17.0   84.00  112.0  154.00
ZI000067975 TMAX   64.0  250.656250  46.353103  159.0  219.50  252.5  280.50
            TMIN  104.0  109.115385  52.567166    8.0   65.50  108.0  156.50
ZI000067983 TMAX   29.0  238.034483  42.937232  131.0  212.00  243.0  272.00
            TMIN   44.0  128.340909  30.945521   73.0  103.75  118.5  155.25


                    max
station     type
AE000041196 TMAX  466.0
            TMIN  337.0
AEM00041194 TMAX  470.0
            TMIN  355.0
AEM00041217 TMAX  491.0
            TMIN  364.0
AEM00041218 TMAX  483.0
            TMIN  368.0
AFM00040938 TMAX  361.0
            TMIN  268.0
AFM00040948 TMAX  410.0
            TMIN  188.0
AFM00040990 TMAX  436.0
            TMIN  287.0
AG000060390 TMAX  336.0
            TMIN  240.0
AG000060590 TMAX  485.0
            TMIN  330.0
AG000060611 TMAX  447.0
            TMIN  323.0
AGE00147708 TMAX  333.0
            TMIN  249.0
AGE00147716 TMAX  304.0
            TMIN  252.0
AGE00147718 TMAX  473.0
            TMIN  356.0
AGE00147719 TMAX  450.0
            TMIN  288.0
AGM00060351 TMAX  330.0
            TMIN  255.0
...                 ...
WA007878380 TMAX  394.0
            TMIN  248.0
WA010101860 TMAX  377.0
            TMIN  212.0
WA010517310 TMAX  388.0
            TMIN  238.0
WA012084750 TMAX  395.0
            TMIN  245.0
WAM00068006 TMAX  408.0
            TMIN  298.0
WAM00068098 TMAX  387.0
            TMIN  228.0
WF000917530 TMAX  321.0
            TMIN  278.0
WFM00091754 TMAX  336.0
            TMIN  271.0
WIM00060096 TMAX  303.0
            TMIN  234.0
WQW00041606 TMAX  318.0
            TMIN  259.0
WZ004455110 TMAX  346.0
            TMIN  280.0
ZA000067743 TMAX  375.0
            TMIN  205.0
ZI000067775 TMAX  337.0
            TMIN  183.0
ZI000067975 TMAX  345.0
            TMIN  209.0
ZI000067983 TMAX  306.0
            TMIN  200.0

[27781 rows x 8 columns]

## GHCN FTP

In [0]:
!mkdir data/

In [0]:
from ftplib import FTP
from io import BytesIO
from os import path

NCDC_FTP = 'ftp.ncdc.noaa.gov'

def connect_to_ftp():
    ftp = FTP(NCDC_FTP)
    message = ftp.login()
    print(message)
    return ftp

In [0]:
ftp = connect_to_ftp()

230-****** WARNING ** WARNING ** WARNING ** WARNING ** WARNING ******
 ** This is a United States Department of Commerce computer     **
 ** system, which may be accessed and used only for             **
 ** official Government business by authorized personnel.       **
 ** Unauthorized access or use of this computer system may      **
 ** subject violators to criminal, civil, and/or administrative **
 ** action.  All information on this computer system may be     **
 ** intercepted, recorded, read, copied, and disclosed by and   **
 ** to authorized personnel for official purposes, including    **
 ** criminal investigations.  Access or use of this computer    **
 ** system by any person, whether authorized or unauthorized,   **
 ** constitutes consent to these terms.                         **
 ****** WARNING ** WARNING ** WARNING ** WARNING ** WARNING ******
230 Anonymous access granted, restrictions apply

In [0]:
states_path = '/pub/data/ghcn/daily/ghcnd-states.txt'
local_path = 'data/states.csv'
print(path.join(NCDC_FTP,states_path))
ftp.retrlines('RETR ' + path.join(NCDC_FTP,states_path))
#str_buf = BytesIO()
#ftp.retrbinary('RETR ' + path.join(NCDC_FTP,states_path), str_buf.write)

In [0]:
!cat data/states.csv

In [0]:
ftp.quit()

In [0]:
!wget https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/ghcnd-stations.txt

In [0]:
from google.colab import files

files.download('ghcnd-stations.txt')